
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

        body{
            background: linear-gradient(120deg,#2980b9, #8e44ad);
        }
        .imag{
            display:block;
            width:100%;
            height:80%;
        }
        .txt{
            display:block;
            position: relative;
        }
        .main{
            display: flex;
            justify-content: center;
        }
        #ended {
           
            font-size: xx-large;
            font-family:sans-serif;
            color:white;
            /* box-shadow: 4px 5px 8px 18px #0ff; */
           width:450px;
            /* text-align: center; */
            margin-top:10%;
           
        }
        nav {
            background: #3a51c6;
            padding: 20px 10px;
            width: 100px;
            border-radius: 10px;
            align-content:center;
        }
        
        nav ul {
            max-width: 100px;
            margin: 0 auto;
            padding: 0;
        }
        
        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        
     
        h1{
            color:#DDDDDD;
            font-family:  sans-serif;
        }
        b{
            color:#DDDDDD;
        }
     
    </style>

</head>

<body>

    <div class="main">
    <div id="ended">
    <figure>
        <img src="image.jpeg"  alt="image" class="imag">
       <center>
        <figcaption>You Left The Meet</figcaption>
        </center>
    </figure>
</div>
</div>
<center>
    <div class="box"><h1 >To Join Again &nbsp; <a href="/auth/logout" ><b>Click Here</b></a></h1>
    
        <!-- <li><a href="/auth/logout">Log out</a></li> -->
     
  
</div>
</center>
</body>

</html>