<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <style>
        body {
            font-family: arial;
            margin: 0;
        }
        
        nav {
            background: #ff5353;
            padding: 20px 10px;
        }
        
        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        
        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        
        nav a {
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        
        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        
        main img {
            width: 40px;
            margin-right: 10px;
            position: relative;
            top: 12px;
        }
        
        main p {
            display: inline-block;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">HOME PAGE</a>
            </li>
            <!-- <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <% } %> -->
        </ul>
    </nav>
    <header>
        login using..........
    </header>
    <main>
        <a href="/auth/google" class="google-button">google+
        </a>
    </main>
    <div>

    </div>

</body>


</html>